HHS_REPO_ROOT=/opt/hhs/app
HHS_GIT_REMOTE=origin
HHS_GIT_BRANCH=main
HHS_EXPECTED_REPOSITORY=danonbrez/Holofractal_Harmonicode
HHS_SYSTEMD_UNITS=hhs.service
HHS_HEALTH_URLS=http://127.0.0.1:8080/api/system/status
HHS_VALIDATE_TIMEOUT_SECONDS=3600
HHS_HEALTH_TIMEOUT_SECONDS=180
HHS_HEALTH_INTERVAL_SECONDS=2
HHS_VALIDATE_STAGE_TIMEOUT_SECONDS=900
HHS_VALIDATE_NATIVE=1
HHS_VALIDATE_NODE_TESTS=1
HHS_VALIDATE_BOOT=1
HHS_VALIDATE_BROWSER=0
HHS_CANDIDATE_PORT=18080
HHS_KEEP_CANDIDATES=3
HHS_POST_MERGE_COMMAND=bash bin/post_compile
HHS_ROLLBACK_COMMAND=bash bin/post_compile
HHS_UPDATE_SYNC_SELF=1
HHS_UPDATE_DRY_RUN=1
